.jumbotron {
  padding: 100px;
  background-image: url("/images/bookstack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: 4px solid black;
}

.jumbotron>h1, h2{
  color:white;
  font-family: 'Gothic A1', sans-serif;
  font-weight: bold;
  text-transform:uppercase;
}

body {
  background-image: url("/images/books.jpeg");
  background-color: #cccccc;
 }